---
title: Projects
description: A list of projects I've worked on, whether solo or in a team, and what everything I have learned in doing so.
---

<h1>My projects</h1>
<ul>
    {% for project in site.projects %}
      <li>
        <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
        <h3>{{ project.start_date | date: "%d %b %y" }}&#8212;{% if project.finished %}{{ project.finish_date | date: "%d %b %y" }}{% else %}Ongoing{% endif %}</h3>
        <a href="{{ project.external_link }}" target="_blank">{{ project.external_link }}</a>
        <p>{{ project.content | markdownify }}</p>
      </li>
    {% endfor %}
  </ul>