<div class="social">
  <a href="mailto:info@tbat.me" target="_blank" title="Email me at info@tbat.me"><i class="icon-envelope"></i></a>
  <a href="https://www.linkedin.com/in/tristanbatchler" target="_blank" title="Connect with me on LinkedIn"><i class="icon-linkedin"></i></a>
  <a href="https://github.com/tristanbatchler" target="_blank" title="Find me on GitHub"><i class="icon-github-alt"></i></a>
  <a href="https://www.youtube.com/channel/UCk16fwaXxD4JUkxzwFc8PQg" target="_blank" title="Find me on YouTube"><i class="icon-youtube-play"></i></a>
</div>