<div class="social">
  <a href="mailto:info@tbat.me" target="_blank" alt="Email" title="Email me at info@tbat.me"><i class="icon-envelope"></i></a>
  <a href="https://www.linkedin.com/in/tristanbatchler" target="_blank" alt="LinkedIn" title="Connect with me on LinkedIn"><i class="icon-linkedin2"></i></a>
  <a href="https://github.com/tristanbatchler" target="_blank" alt="GitHub" title="Find me on GitHub"><i class="icon-github-alt"></i></a>
  <a href="https://www.youtube.com/channel/UCk16fwaXxD4JUkxzwFc8PQg" target="_blank" alt="YouTube" title="Find me on YouTube"><i class="icon-youtube"></i></a>
</div>