@import "mixins";
@import "syntax";
@import "comments";

body {
    background: linear-gradient(to bottom, $void, $void2);
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1.1em;
}

#content {
    color: $foreground;
    background: $background;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;

    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: $accent;

    position: relative;

    p.timestamp {
        font-size: smaller;
        margin-top: -1.5rem;
    }

    h1 {
        color: $header;

        text-align: center;
    }

    hr {
        margin-bottom: 1.5rem;
        height: 5px;
        border: none;

        background-image: -webkit-linear-gradient(left, $first, $third, $fourth, $fifth);
        background-image: -moz-linear-gradient(left, $first, $third, $fourth, $fifth);
        background-image: -ms-linear-gradient(left, $first, $third, $fourth, $fifth);
        background-image: -o-linear-gradient(left, $first, $third, $fourth, $fifth);

    }

    h2 {
        color: $header;
    }

    img,
    video {
        height: auto;

        &,
        &+em {
            display: block;

            &:not(.info) {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                font-size: smaller;

                max-width: 80%;

                transition: transform 0.25s ease;
            }

            &.info {
                // Info quotes
                height: 3em;
            }
        }

        // Hover to enlarge images, except for images already larger than
        &:not(.headshot) {
            &:hover {
                transform: scale(1.35);
                box-shadow: 0 0 10px 5px $void;
                transition-delay: 0.5s;
                cursor: pointer;
            }
        }
    }

    a {
        color: $link;
        text-decoration: none;
    }

    blockquote {
        border-left-style: inset;
        padding-left: 10px;
        color: darken($foreground, 10%);
    }

    li {
        padding-bottom: 0.5rem;

        &.no-bullet {
            list-style-type: none;
            margin-left: -1.5rem;
        }
    }

    pre {
        overflow-x: auto;
        background-color: $void;
        margin: 10px;
        padding: 10px;

        &>code {
            display: block;
        }

        .copy-button {
            opacity: 0;
            position: absolute;
            right: 25px;

            padding: 5px;
            background-color: $background;
            color: $foreground;
            border: none;
            border-radius: 0 0 0 5px;
            cursor: pointer;

            &:active,
            &:focus,
            &:hover {
                background-color: $accent;
                opacity: 1;
            }
        }

        &:active,
        &:focus,
        &:hover {
            .copy-button {
                opacity: 1;
            }
        }

        &:has(code.language-directory) {
            margin-bottom: -10px;
            border-bottom: 1px dashed $accent;
        }



    }

    code {
        background-color: $void;
        color: $accent;
        border-radius: 0.2em;
        padding: 1px 3px 3px;
        color: $foreground;
        font-family: 'Inconsolata', monospace;
        line-break: anywhere;
    }
}

#header {
    display: flex;
    justify-content: center;

    nav a {
        padding: 15px;

        &.current {
            color: $header;
        }

        font-size: larger;
        text-decoration: none;

    }
}


#footer {
    display: flex;
    justify-content: center;

    div.social a {
        text-decoration: none;
        color: $foreground;
        padding: 15px;
    }

    padding-top: 20px;
}

#final {
    clear: left;
    padding-bottom: 10px;
}

iframe.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 72%;
    margin: auto;
}

table {
    margin: auto;

    th,
    td {
        padding: 5px 15px;
    }

    thead tr th {
        font-weight: bold;
        color: $header;
        border-bottom: 1px solid;
    }

    tbody tr {
        &:nth-of-type(even) {
            background-color: darken($background, 5%);
        }
    }
}

mark {
    background-color: $background;
    color: $foreground;

    &.highlight {
        background-color: $accent;
        color: $foreground;
    }
}
