@import "mixins";

body {
    background: #000;
}

#content {
    color: $foreground;
    background: $background;

    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;

    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: $darkgray;
    
    h1 {
        color: $yellow;

        text-align: center;
    }

    h2 {
        color: $green;
    }

    img {
        height: auto;
        
        &, & + em {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            max-width: 50%;
        }
    }

    a {
        color: $magenta;
    }

    blockquote {
        border-left-style: inset;
        padding-left: 10px;
        color: $lightgray;
    }
}

#header {
    display: flex;
    justify-content: center;
    nav a {
        padding: 15px;
        &.current {
            color: $green;
        }
    }
}


#footer {
    display: flex;
    justify-content: center;
    div.social a {
        text-decoration: none;
        color: $white;
        padding: 15px;
    }
    padding-top: 20px;
}

#final {
    clear: left;
    padding-bottom: 10px;
}