@import "mixins";

html {
    background: linear-gradient($blue, $cyan);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    overflow: auto;
    display: block;
    min-height: 100% !important;
}

#content {
    color: $foreground;
    background: $background;


    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 10px;

    border-color: $darkgray;
    
    h1 {
        color: $green;

        text-align: center;
    }

    h2 {
        color: $yellow;
    }

    img {
        height: auto;
        
        &, & + em {
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            max-width: 50%;
        }
    }

    a {
        color: $link;
        text-decoration: none;

        &:hover {
            color: darken($link, 20%);
        }
    }

    blockquote {
        border-left-style: inset;
        padding-left: 10px;
        color: $lightgray;
    }

    ul {
        &.main-page-list {
            list-style: none;
        }

        li {
            padding-bottom: 0.5rem;
        }

    }

    pre {
        overflow-x: auto;
        background-color: black;
        margin: 10px;
        padding: 10px;
    }

}

#header {
    display: flex;
    justify-content: center;
    nav a {
        padding: 15px;
        &.current {
            color: darken($link, 20%);
            font-weight: bold;
        }
    }
}


#footer {
    display: flex;
    justify-content: center;
    div.social a {
        text-decoration: none;
        color: $black;
        padding: 15px;
    }
    padding-top: 20px;
}

#final {
    clear: left;
    padding-bottom: 10px;
}