// // black
// $black: #272822;
// $darkgray: #75715e;
// $red: #f92672;
// $green: #a6e22e;
// $yellow: #f4bf75;
// $blue: #66d9ef;
// $magenta: #ae81ff;
// $cyan: #a1efe4;
// $lightgray: #f8f8f2;
// $white: #f9f8f5;

// // special
// $foreground:$white;
// $background:$black;

$background: #4A4873;
$accent: #6D5DA6;
$foreground: #FFF8D4;
$link: #F2C572;
$header: #F29188;
$void: #2D2D33;
$void2: #40303d;

$first: #6D5DA6;
$second: #4A4873;
$third: #F2C572;
$fourth: #F2A679;
$fifth: #F29188;

$inline: #2D2D3388;