<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="keywords"
    content="Tristan Batchler, portfolio, UQ, University of Queensland, mathematics, computer science" />
  <link ref="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="apple-touch-icon" href="/favicon.ico">

  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  {% seo %}
</head>

<body>
  <div id="content">
    <div id="header">
      {% include header.html %}
    </div>
    {{ content }}
    <div id="footer">
      {% include footer.html %}
      <div id="final"></div>
    </div>
  </div>
  <script src="/assets/scripts/codeblock.min.js"></script>
  <script src="/assets/scripts/externalLinks.js"></script>
  <script defer src="/assets/scripts/sparkles.min.js"></script>
  <script defer src="https://umami.tbat.me:4430/script.js" data-website-id="201a4581-bc9a-403c-9b6a-f6b477968e9c"></script>
</body>

</html>
