---
layout: default
---

<h1 class="sparkle-less">{{ page.title }}</h1>
<hr class="post-hr">
<p class="timestamp">{{ page.date | date_to_string }}</p>

{{ content }}

{% if page.redditurl %}
<h2 id="comments">Comments</h2>
<script src="{{ page.redditurl }}.embed"></script>
{% endif %}

<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({extensions:["MathMenu.js","MathZoom.js","AssistiveMML.js","a11y/accessibility-menu.js"],jax:["input/TeX","output/CommonHTML"],TeX:{extensions:["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]}});
</script>